body {
		text-align: center;
		padding: 100px 0 0 0;
		color: #fff;
		background: #1d1f20;
}

.a {
	width: 150px;
  height: auto;
	position:fixed;
	-webkit-animation: rotation 2s infinite linear;
	z-index: 0;
}

.b {
	width: 150px;
  height: auto;
	position:fixed;
	-webkit-animation: rotation 3s infinite linear;
	z-index: 0;
}
.c {
	width: 150px;
  height: auto;
	position:fixed;
	-webkit-animation: rotation 1s infinite linear;
	z-index: 0;
}
.d {
	width: 150px;
  height: auto;
	position:fixed;
	-webkit-animation: rotation 2s infinite linear;
	z-index: 0;
}
.e {
  height: 150px;
	width: auto;
	position:fixed;
	-webkit-animation: rotation 3s infinite linear;
	z-index: 0;
}
.f {
	width: 150px;
  height: auto;
	position:fixed;
	-webkit-animation: rotation 2s infinite linear;
	z-index: 0;
}
.g {
	width: 150px;
  height: auto;
	position:fixed;
	-webkit-animation: rotation 1s infinite linear;
	z-index: 0;
}

 #goodLuck {
  width: 100%;
  height: 100%;
	z-index: -1;
}

#downDownDown {
	margin: 0 auto;
	z-index: 1;
	background-color: white;
	border: none;
	color: #D05959;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: url(Images/Queeen.png), auto;
}

 #downDownDown:hover {
  background-color: #D05959;
  color: white;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
