@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('Images/loginBack.jpg');
background-repeat: no-repeat;
width: 100%;
height: auto;
font-family: 'Numans', sans-serif;
}

.head{
  text-align: center;
  color: white;
  background-color:#6FB6DC;
  font-family: fantasy;
  padding: 15px;
  margin: 15px;
}

#top{
  font-size: 70px;
  top: 10%;
}

#sub{
  font-size: 35px;
  top: 15%;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 170px;
margin-top: 30px;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.input-group-prepend span{
width: 50px;
background-color: #6FB6DC;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.login_btn{
color: black;
background-color: #6FB6DC;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.signUp{
  color:white;
}
